.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper ul li {
    border: 1px solid black;
    border-radius: 6px;
    padding: 16px;
    margin: 8px;
    cursor: pointer;
}

.wrapper ul li p {
    margin: 0;
    padding: 0;
}

.fillDB {
    margin: 16px 0;
    border-radius: 6px;
    padding: 16px;
    border: 1px solid #eee;
    color: #ccc;
}

.fillDB p {
    margin: 0;
    padding: 0;
}